@charset "utf-8";
*{
	padding:0px;
	margin:0px;
}
#main{
	width:150px;
}
img{
	border:0px;
}
#ViewArea{
	width:160px;
	height:300px;
	overflow:hidden;
	float:left;
	z-index:1;
	background-color:#CCFFFF;
}

#feed{
	width:160px;
	position:relative;
	background-color:#CCFFFF;
	overflow:hidden;
		}

#ScrollArea{
	width:160px;
	float:left;
	position:relative;	
	padding:10px 0px 2px 0px;
	text-align:center;
	list-style:none;
	z-index:2;
	
}

#Topbtn{
	width:100%;
	height:50px;
	overflow:hidden;
	float:left;
	z-index:1;
	background-image:url(./image/btn_t.jpg);
	background-repeat:no-repeat;		
}
#Topbtn:hover{
	background-image:url(./image/btn_t_over.jpg);
	background-repeat:no-repeat;		
}
#Bottombtn{
	width:100%;
	height:50px;
	overflow:hidden;
	float:left;
	z-index:1;
	background-image:url(./image/btn_b.jpg);
	background-repeat:no-repeat;					
}
#Bottombtn:hover{
	z-index:1;
	background-image:url(./image/btn_b_over.jpg);
	background-repeat:no-repeat;					
}
